.input_box {
  text-align: center;
}
input[type="text"] {
  height: 50px;
  width: 500px;
  margin-top: 20px;
}
input[type="submit"] {
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-left: 10px;
}
.middle {
  text-align: center;
}
